# ignore image data
data/
*.png
*.dat

# ignore parameter files
params/
*.params

# ignore font files
font/
*.TTF
*.ttf
*.TTC
*.ttc

# ignore all gen source
sample/
pool/

*.png
*.dat
*.params
*.pyc
*.txt
notes.md
